<a href="https://colab.research.google.com/github/laisso/laisso/blob/main/Projeto_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

In [ ]:
10

10

## Olá mundo!

Vamso conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Olá Mundo!')

Olá Mundo!

In [ ]:
print(10)

10

In [ ]:
print('Ano Atual:', 2025)

Ano Atual: 2025

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idade = 10
print(idade)

10

In [ ]:
idade

10

In [ ]:
nome = 'Gabriel'
print(nome)

Gabriel

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'lais'
type (s)

str

In [ ]:
b = True
type (b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aluno = True

print(nome_aluno, idade_aluno, media_aluno, situacao_aluno)

Fabricio Daniel 15 8.45 True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = (q_seguranca + q_docente + q_diretoria)
print(total_empregados)

22

In [ ]:
d_salario = (s_diretoria - s_seguranca)
print(d_salario)

9500

In [ ]:
media_ponderada = (q_diretoria*s_diretoria + q_docente*s_docente + q_seguranca*s_seguranca)/ (total_empregados)
print(media_ponderada)

5613.636363636364

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 = 'alura'
s2 = "alura"
print(type(s1), type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
str.upper(texto)

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
str.lower(texto)

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
str.strip(texto)

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('Y','T').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Escreva o seu nome: ')

Escreva o seu nome: Laís

In [ ]:
nome

'Laís'

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2005

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2005

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 15
Ano de entrada 2005 - nota do teste de ingresso 15.0

Desafio: hora da prática

In [ ]:
nome1 = input('Digite seu nome?')
print(f"Olá, {nome1}!")

Digite seu nome?lais
Olá, lais!

In [ ]:
nome2 = input('Digite seu nome:')
idade = input('Digite sua idade')
print(f"Olá,{nome2}, você tem {idade} anos")

Digite seu nome:layla
Digite sua idade23
Olá,layla, você tem 23 anos

In [ ]:
nome_pessoa = input("Digite seu nome:")
idade_pessoa = input("Digite sua idade:")
altura_pessoa = float(input("Digite sua altura:"))

print(f"Olá, {nome_pessoa}, você tem {idade_pessoa} anos e mede {altura_pessoa} metros!")

Digite seu nome:lais
Digite sua idade:22
Digite sua altura:1.60
Olá, lais, você tem 22 anos e mede 1.6 metros!

In [ ]:
valor1 = int(input('Digite um valor:'))
valor2 = int(input ('Digite outro valor:'))
soma = valor1 + valor2
print(f"A soma dos dois números é: {soma} ")

Digite um valor:2
Digite outro valor:2
A soma dos dois números é: 4

In [ ]:
balas_joao = int(input('Digite o valor de balas do joão: '))
balas_vitor = int(input('Digite o valor de balas do vitor: '))
balas_layla = int(input('Digite o valor de balas da layla: '))

soma_balas = balas_joao + balas_layla + balas_vitor
print(f"A soma de balas dos três é: {soma_balas} ")

Digite o valor de balas do joão: 5
Digite o valor de balas do vitor: 5
Digite o valor de balas da layla: 5
A soma de balas dos três é: 15

In [ ]:
valor_um = int(input('Digite um valor:'))
valor_dois = int(input('Digite outro valor:'))

subtracao = valor_um - valor_dois
print(f"A subtracao é: {subtracao}")

Digite um valor:2
Digite outro valor:2
A subtracao é: 0

In [ ]:
salario = int(input('Digite seu salario:'))
aumento_salario = int(input('Digite o quanto quer multiplicar seu salario'))

multiplicar = salario * aumento_salario
print(f'A multiplicacao desejada do seu salario eh: {multiplicar}')

Digite seu salario:1000
Digite o quanto quer multiplicar seu salario2
A multiplicacao desejada do seu salario eh: 2000

In [ ]:
quant_chocolates = int(input('Digite a quantidade de chocolates'))
quant_pessoas = int(input('Digite a quantidade de pessoas'))

divisao_chocolates = quant_chocolates/quant_pessoas
print(f'Cada um vai receber {divisao_chocolates} chocolates')

Digite a quantidade de chocolates10
Digite a quantidade de pessoas2
Cada um vai receber 5.0 chocolates

In [ ]:
num1 = int(input('Digite um valor para um operador'))
num2 = int(input('Digite um valor para uma potencia'))

Resultado = num1 ** num2
print(f'Resultado: {Resultado}')

Digite um valor para um operador2
Digite um valor para uma potencia3
Resultado: 8

In [ ]:
numerador = int(input('Digite o numerador:'))
denominador = int(input('Digite o denominador:'))

if denominador != 0:
  resultado = numerador // denominador
  print(f'A divisão inteira do {denominador} é {resultado}')
else:
  print('Erro! O denominador não pode ser zero. Tnte novamente com um valor diferente de zero')

Digite o numerador:20
Digite o denominador:2
A divisão inteira do 2 é 10

In [ ]:
estudante_1 = int(input('Digite a nota do primeiro aluno:'))
estudante_2 = int(input('Digite a nota do segundo aluno:'))
estudante_3 = int(input('Digite a nota do terceiro aluno:'))

media = (estudante_1 + estudante_2 + estudante_3)/ 3
print(f'{media}')

Digite a nota do primeiro aluno:24
Digite a nota do segundo aluno:25
Digite a nota do terceiro aluno:14
21.0

In [ ]:
a = 5
b = 12
c = 20
d = 15

p1 = 1
p2 = 2
p3 = 3
p4 = 4

media_ponderada = ((a * p1) + (b * p2) + (c * p3) + (d * p4)) / ((p1)+(p2)+(p3)+(p4))
print(f"{media_ponderada}")

14.9

In [ ]:
frase = 'lais silva'
print(frase)

lais silva

In [ ]:
frase1 = input('Digite uma frase:')
print(frase1)

Digite uma frase:Olá mundo
Olá mundo

In [ ]:
frase2 = input('Digite uma frase:')
str.upper(frase2)

Digite uma frase:Laís silva

'LAÍS SILVA'

In [ ]:
str.lower(frase2)

'laís silva'

In [ ]:
frase = ' Hoje o céu está lindo '
str.strip(frase)

'Hojeo céu está lindo'

In [ ]:
frase = input("Digite uma frase: ")
frase_modificada = frase.replace("e", "f").replace("E", "F")
print("Frase modificada:", frase_modificada)

Digite uma frase: hoje o ceu esta lindo
Frase modificada: hojf o cfu fsta lindo

# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

In [ ]:
x = 18
if x <= 20:
  print("O x é um número menor ou igual a 20")

O x é um número menor ou igual a 20

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

In [ ]:
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria > idade_beatriz:
  print('Maria é mais velha que Beatriz.')

Digite a idade da Maria: 27
Digite a idade da Beatriz: 22
Maria é mais velha que Beatriz.

---
**Situação:**

Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está **Aprovado** ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('aprovado(a)')
else:
  print('Reprovado(a)')

Digite a média: 5.0
Reprovado(a)

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('aprovado(a)')
if 4.0 <= media < 6.0:
  print('Recuperação')
if media < 4.0:
  print('Reprovado(a)')

Digite a média: 5
Recuperação

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('aprovado(a)')
if 4.0 <= media < 6.0:
  print('Recuperação')
else:
  print('Reprovado(a)')

Digite a média: 7.0
aprovado(a)
Reprovado(a)

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and t2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [ ]:
if t1 or f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [2]:
if not f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

NameError: name 'f2' is not defined